:host {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;
    margin: 0.5em;
    z-index: 1200;
    @media(max-width: 575px) {
        bottom: auto;
        top: 0;
    }
}
ngb-toast{
    color: white;
    padding: 10px;
    font-size: 16px;
    &.bg-success {
        .fa-close{
            display: none;
        }
    }
    &.bg-danger {
        .fa-check{
            display: none;
        }
    }
}