<div class="container-fluid d-flex full-height flex-column">
    <div class="row flex-fill flex-column mb-2">
        <div class="col full-height vertical-centered-container p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6">
                        <form [formGroup]="registerForm">
                            <div>
                                <input 
                                    placeholder="Nombre de Usuario"
                                    formControlName="username"
                                    type="text" 
                                    class="form-control">
                            </div>
                            <div>
                                <input 
                                    type="email" 
                                    formControlName="email"
                                    placeholder="Correo Electrónico"
                                    class="form-control">
                            </div>
                            <div>
                                <input 
                                    type="password" 
                                    formControlName="password"
                                    placeholder="Contraseña"
                                    class="form-control">
                            </div>
                            <div>
                                <input 
                                    type="password" 
                                    formControlName="repeatedPassword"
                                    placeholder="Repetir Contraseña"
                                    class="form-control">
                            </div>
                            <div class="d-none d-sm-block">
                                <ng-container *ngTemplateOutlet="submitButton"></ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-sm-none">
        <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 py-2">
            <ng-container *ngTemplateOutlet="submitButton"></ng-container>
        </div>
    </div>
</div>
<ng-template #submitButton>
    <button 
        type="button" 
        [disabled]="registerForm?.invalid"
        (click)="registerUser(registerForm?.value)"
        class="btn btn-dark submit-register full-width">REGISTRAR</button>
</ng-template>