<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col full-height vertical-centered-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-3 col-sm-6">
                        <form [formGroup]="loginForm">
                            <div>
                                <input 
                                    type="text" 
                                    formControlName="email"
                                    placeholder="Correo Electrónico"
                                    class="form-control">
                            </div>
                            <div>
                                <input 
                                    type="password" 
                                    formControlName="password"
                                    placeholder="contraseña"
                                    class="form-control">
                            </div>
                            <div>
                                <button 
                                    type="button" 
                                    [disabled]="loginForm?.invalid"
                                    class="btn btn-dark submit-login">ENTRAR</button>
                            </div>
                            <p class="center">
                                Puedes <a>registrarte</a> si no tienes una cuenta    
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
