/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish&display=swap');

:root{
    --primary-color: #363740;
}
html {
    &,body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

img{
    max-width: 100%;
}

.relative{
    position: relative;
}

.full-height { 
    min-height: 100%;
    height: 100%;
}

.center{
    text-align: center;
}
* {
    outline: none;
}
a{
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

.vertical-centered-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}