<div class="container-fluid full-height">
    <div class="row full-height grid-container p-0">
        <app-sidebar></app-sidebar>
        <div class="col full-height p-0">
            <div class="container-fluid d-flex flex-column full-height">
                <div class="row">
                    <div class="col">
                        <app-navbar 
                            [notificationQuantity]="taskQuantity$ | async"
                            [user]="user$ | async" 
                            [route]="route"></app-navbar>
                    </div>
                </div>
                <div class="row mb-2 flex-fill">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>